Email Automation.json
{
  "name": "Email Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "85c35a18-9263-480e-91e6-c0c5482f4d8f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IH2xTnRK8ZPSQZHV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.snippet }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "=Analyze the  {{ $json.snippet }} and generate the reply accordingly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "57fe1bc9-ccea-451b-ad44-e119caaa0096",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "FX5itp7imqDKoxud",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "014e7b2b-2f3a-451e-b1d2-6771c966862f",
      "name": "Reply to a message",
      "webhookId": "675fad67-1022-4f5c-b92a-d4ad3e9760cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "IH2xTnRK8ZPSQZHV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c6aeb1cc-36fe-45ec-9779-314eec6bc36d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4abe783654d315247197aeecfeef01c1ad2ed81990d7ce8457db9adf74183bba"
  },
  "id": "3YCx88YOVMORBmFd",
  "tags": []
}